*{  box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body { background: #f0f2f5;}
/* Desktop container max width */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 15px;
}
header {
    background: #4a90e2;
    color: white;
    padding: 15px;
    text-align: center;
}
nav {
    background: #333;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
nav ul li {
    border-bottom: 1px solid #555;
}
nav ul li a {
    display: block;
    padding: 12px;
    text-decoration: none;
    color: white;
    text-align: center;
}
nav ul li a:hover {
    background: #555;
}
.h {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 5px;
    text-align: center;
}
.h h1 {
    font-size: 22px;
    margin-bottom: 10px;
}
.h p {
    font-size: 14px;
    color: #555;
}
.features {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/*mobile*/
@media (min-width: 768px) {
    nav ul {
        flex-direction: row;
        justify-content: center;
    }
   nav ul li {
        border-bottom: none;
        border-right: 1px solid #555;
    }
    nav ul li:last-child {
        border-right: none;
    }
    .hero h1 {
        font-size: 28px;
    }
    .features {
        flex-direction: row;
    }
    .box {
        flex: 1;
    }
}
/* Desktop */
@media (min-width: 1024px) {
    .hero h1 {
        font-size: 32px;
    }
    .hero p {
        font-size: 16px;
    }
}
